<!DOCTYPE html>
<html>
<head>
  <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

  <title>Baywing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
  </script>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 pull-left" style="margin-left: 0">
      <%= link_to root_path do %>
          <%= image_tag 'baywing.png' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h4 class="pull-right header">  <%=  link_to  "Harris's Hawk Pedigree and Hunting Performance Registry", root_path  %> </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 nav-bar-item"> <%= link_to "Pedigree Registration", pedigree_index_path %> </div>
    <div class="col-md-4 nav-bar-item"> <%= link_to "Hunting Performance",    hunting_index_path %>  </div>
    <div class="col-md-4 nav-bar-item"> <%= link_to "Download Database",     root_path %>           </div>

  </div>


  <%= yield %>
</div>

</body>
</html>
